<h1>Stupid Coaching</h1>

<h2>Your question:</h2>
<div>
  <%=@question%>

  <p>-you</p>
</div>

<br>
<br>

<div>
  <%=@answer%>

  <p>-your coach</p>
</div>

<br>

<%= link_to "Ask a question", ask_path %>
